<footer>
    <div class="container sub-heading">
        <div class="row mx-auto">
            <div class="col col-md-4 col-12" style="padding: 10px;margin-bottom: 10px;">
                <div class="row">
                    <div class="col" style="text-align: center;font-size: 13px;">
                        <a class="card-link" href="https://www.linkedin.com/in/piyushsinghofficial/">
                            <i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn
                        </a>
                    </div>
                    <div class="col" style="text-align: center;font-size: 13px;">
                        <a class=" card-link" href="https://github.com/piyushsinghoffice">
                            <i class="fa fa-github" aria-hidden="true"></i> Github
                        </a>
                    </div>
                </div>
            </div>
            <div class="col col-md-8 col-12 copyright">
                Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2021 Piyush Singh. All Rights
                Reserved
            </div>
        </div>
    </div>
</footer>