<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal Website" />
    <meta name="title" property="og:title" content="Piyush Singh" />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image" content="https://live.staticflickr.com/65535/51403622346_9e943eba1f_k.jpg" />
    <meta name="description" property="og:description" content="Personal Website" />
    <meta name="author" content="Piyush Singh" />

    {{!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/atom-one-dark-reasonable.min.css">

    <link rel="stylesheet" href="../css/preloader.css">
    <link rel="stylesheet" href="../css/particle.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/forms.css">
    <link rel="stylesheet" href="../css/project.css">

    {{!-- Title --}}

    <title>Piyush Singh - {{title}}</title>
    <link rel="icon"
        href="https://raw.githubusercontent.com/piyushsinghoffice/Node-Profile/master/public/assets/Logo.png?token=AUNGMGSWUQ45WY6PGL2WSJLBFT55M"
        type="image/icon type">
</head>

<body>

    {{>preloader}}
    <div id="particles-js"></div>
    <div class="container-fluid" id="main-container">
        <div class="container-fluid" id="second-container">

            <!-- Navbar -->
            {{>header}}

            <div class="alert alert-{{category}}" style="text-align: center; margin-top: {{margin}}">
                <h4 class="alert-heading">
                    {{status}}
                </h4>
            </div>

            {{{body}}}

        </div>

        {{>footer}}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <!-- <script src="https://kit.fontawesome.com/8da5fbaffa.js" crossorigin="anonymous"></script> -->
    <script src="../js/fa.js"></script>
    <script src='https://cldup.com/S6Ptkwu_qA.js'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

    <script src="../js/preloader.js"></script>
    <script src="../js/particle.js"></script>
    <script src="../js/script.js"></script>
</body>

</html>