<h1 style="text-align: center;color:#fff">Audio Visualizer - Lucy</h1>

<div style="color: #999;">
    <div class="youtube">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/OVpg1JimDn4" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>

    <div class="youtube-Description" style="margin-top: 20px;">
        <hr style="border: 1px solid #777;">
        <p style="text-align: center; margin-top: 10px;">An Audio visualizer named Lucy is made using web technologies
            like
            - ThreeJS, ElectronJS and NodeJS</p>
        <hr style="border: 1px solid #777;">
    </div>

    <div class="futureScope" style="margin-top: 50px;">
        <h4 style="color: #fff;">Future Scope</h4>
        <p style="margin-top: 10px;">
        <ul>
            <li>Could be integrated with a Chatbot</li>
            <li>GUI could be improved for better user experience</li>
            <li>GUI could be made even more interactive</li>
        </ul>
        </p>
    </div>
</div>