<div class="forms">
    <form method="POST" action="contact">
        <h1 class="formheading">Contact Me</h1>
        <input type="text" class="formInput" name="name" placeholder="Full Name" required>
        <input type="text" class="formInput" name='email' placeholder="Email" required>
        <input type="text" class="formInput" name='phone' placeholder="Phone Number" required>
        <input type="text" class="formInput" name='subject' placeholder="Subject" required>
        <textarea type="text" class="formInput" name="message" placeholder="Message" required></textarea>
        <center><button type="submit" class="blue-button" id="send">Send</button></center>
    </form>
</div>