<div class="container" id="profile">
  <div class="row">
    <div class="col-md-6 text-center">
      <center>
        <div class="profile-div">
          <img
            class="rounded-circle"
            id="profile-pic"
            src="https://by3302files.storage.live.com/y4mDxUOBGc0R1m8LiPv5kEZFkqGaG_YLEz5lx0zOpEaJPGHHchdpNk3a0_H_NrIScLd1oz6vyjFGa605Y-HHoFdet7Td2fj2F3Nbd7cQ5WM1uejj7Fuhp0Gg0cI2R4stDvSpwo9oh1zRydkW7JFtLYAok3RCFe2nkOzrnmx0Ha-xygfPFSYjHtHbmvcC-PN3NHY?width=40&height=40&cropmode=none"
            data-src="https://by3302files.storage.live.com/y4moe5KaMCcVQ8EQmUmDqN70BDDq_j-LiNU1nYUiT0kJTyB7jSw5Zu_gbDqewAfC_z7QuRsuasv0UDcvJ-XiVhh4ruC5ocWWaWWaGwyhp5Pb4hHda8VySrvcfYoOVkmm8io0NncotAV8e18xsbROSS4V2hN4uqfvNwxjzV-E5ji2HqVcwVa-DUg5ML1DQY-emQM?width=1024&height=1024&cropmode=none"
            height="150px"
            width="150px"
            alt=""
          />
        </div>
      </center>
    </div>
    <div class="col-md-6" id="profile-text">
      <div class="profile-bio">
        <h6 id="work-field">Mechanical Engineer</h6>
        <h1 id="profile-name">Piyush Singh</h1>
        <hr style="border: 1px solid #777;" />
        <p id="bio">
          A dedicated and self-motivated Mechanical Engineer graduated from
          Mumbai University, with hands-on experience in developing
          reinforcement learning model and robots using inverse kinematics.
          Additionally, have a good understanding in building a formula student
          car.
        </p>
        <hr style="border: 1px solid #777;" />
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="mx-auto blue-button">
            <a href="./assets/resume.pdf">
              Download CV
            </a>
          </div>
        </div>
        <div class="break"></div>
        <div class="col-md-6 col-sm-12 mx-auto">
          <div class="mx-auto" id="contact">
            <a href="Contact">
              Contact
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Education -->
<h2 class="heading">
  <i class="fa fa-graduation-cap" aria-hidden="true"></i>
  <strong>Education</strong>
</h2>
<div class="underline" style="width: 30px;"></div>
<div class="underline-span" style="width: 100px;"></div>
<div class="timeline">
  <div class="card bg-custom">
    <div class="card-body">
      <div class="card-title">
        <p class="card-period">2019</p>
        <p class="institute">New Horizon Institute of Technology and Management
          | Mumbai University
        </p>
      </div>
      <p class="card-text">BE: CGPA 7.77</p>
    </div>
  </div>
  <div class="card bg-custom">
    <div class="card-body">
      <div class="card-title">
        <p class="card-period">2016</p>
        <p class="institute">Flora Dale Sr. Sec. School | CBSE Board</p>
      </div>
      <p class="card-text">Class 12th: 77.4%</p>
    </div>
  </div>
  <div class="card last-bg-custom">
    <div class="card-body">
      <div class="card-title">
        <p class="card-period">2014</p>
        <p class="institute">DAV Public School | CBSE Board</p>
      </div>
      <p class="card-text">Class 10th: CGPA 7.4</p>
    </div>
  </div>
</div>

<!-- Work Experience -->
<h2 class="heading">
  <i class="fa fa-briefcase" aria-hidden="true"></i>
  <strong>Work Experience</strong>
</h2>
<div class="underline" style="width: 30px;"></div>
<div class="underline-span" style="width: 100px;"></div>
<div class="timeline">
  <div class="card bg-custom">
    <div class="card-body">
      <div class="card-title">
        <p class="card-period big-period">December, 2019</p>
        <p class="institute big-institute">Western Railway, Carriage Repair
          Workshop | Mumbai | 2 Weeks</p>
      </div>
      <ul class="card-text">
        <li>
          <p>Observed the day-to-day maintenance processes at the western railways.</p>
        </li>
        <li>
          <p>Delivered a well-documented report to the higher authorities.</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="card last-bg-custom">
    <div class="card-body">
      <div class="card-title">
        <p class="card-period big-period">June-July, 2019</p>
        <p class="institute big-institute">Largsen & Toubro, Defence IC | Powai</p>
      </div>
      <ul class="card-text">
        <li>
          <p>Worked on hydraulic systems for defence projects.</p>
        </li>
        <li>
          <p>Assured quality of different materials for turret systems.</p>
        </li>
        <li>
          <p>Created Bill of Materials (BOM) using MS Excel by reading CAD drawings.</p>
        </li>
        <li>
            <p>Coordinated internal resources and vendors for flawless execution of projects.</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Certificate -->
<h2 class="heading"><i class="fa fa-certificate" aria-hidden="true"></i>
  <strong>MOOC Certificates</strong></h2>
<div class="underline" style="width: 30px;"></div>
<div class="underline-span" style="width: 100px;"></div>
<div class="certificate">
  <div class="row">
    <div class="col col-md-6 col-sm-12 col-12">
      <div class="card cert-card">
        <div class="card-body">
          <div class="card-cert-img"><i
              class="fab fa-python"
              aria-hidden="true"
            ></i></div>
          <div class="card-title">
            <a
              class="card-link"
              href="https://coursera.org/share/88b6450f9ce7a90b25011909346396db"
            >
              Getting Started with Python
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-6 col-sm-12 col-12">
      <div class="card cert-card">
        <div class="card-body">
          <div class="card-cert-img"><i
              class="fa fa-database"
              aria-hidden="true"
            ></i></div>
          <div class="card-title">
            <a
              class="card-link"
              href="https://coursera.org/share/c38aed0c1f6ddf5506d227301879a3b6"
            >
              Python Data Structures
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-6 col-sm-12 col-12">
      <div class="card cert-card">
        <div class="card-body">
          <div class="card-cert-img"><i
              class="fa fa-balance-scale"
              aria-hidden="true"
            ></i>
          </div>
          <div class="card-title">
            <a
              class="card-link"
              href="https://coursera.org/share/3c9859a94c83849cece29b502c442268"
            >
              Data Science Ethics
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-6 col-sm-12 col-12">
      <div class="card cert-card">
        <div class="card-body">
          <div class="card-cert-img"><i
              class="fa fa-user-secret"
              aria-hidden="true"
            ></i>
          </div>
          <div class="card-title">
            <a
              class="card-link"
              href="https://coursera.org/share/df4cd002b76e41a757a88e5dba55546e"
            >
              Network Security & Database Vulnerabilities
            </a>
          </div>
          <a
            href="https://www.youracclaim.com/badges/99a23196-b783-4308-b301-ea7f0755d174/public_url"
            class="btn card-button"
          >
            Badge
          </a>
        </div>
      </div>
    </div>
    <div class="col col-md-6 col-sm-12 col-12">
      <div class="card cert-card">
        <div class="card-body">
          <div class="card-cert-img"><i
              class="fa fa-server"
              aria-hidden="true"
            ></i></div>
          <div class="card-title">
            <a
              class="card-link"
              href="https://coursera.org/share/9828023a65c30bf6a27f7c1b63a07dbe"
            >
              Introduction to Big Data
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-6 col-sm-12 col-12">
      <div class="card cert-card">
        <div class="card-body">
          <div class="card-cert-img"><i class="fas fa-chart-line"></i></div>
          <div class="card-title">
            <a
              class="card-link"
              href="https://coursera.org/share/4b2783dbe2204dc5d50d1ef41fa36662"
            >
              Machine Learning: Regression
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-6 col-sm-12 col-12">
      <div class="card cert-card">
        <div class="card-body">
          <div class="card-cert-img"><i class="fas fa-microscope"></i></div>
          <div class="card-title">
            <a
              class="card-link"
              href="https://coursera.org/share/60117b4cfa022194ead50baa7977f790"
            >
              Quantum Mechanics
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-6 col-sm-12 col-12">
      <div class="card cert-card">
        <div class="card-body">
          <div class="card-cert-img"><i
              class="fa fa-html5"
              aria-hidden="true"
            ></i></div>
          <div class="card-title">
            <a
              class="card-link"
              href="https://coursera.org/share/e00fdb66b36cf406c360e49ffc075160"
            >
              HTML, CSS, and JS for Web Devs
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-6 col-sm-12 col-12">
      <div class="card cert-card">
        <div class="card-body">
          <div class="card-cert-img"><i class="fas fa-robot"></i></div>
          <div class="card-title">
            <a
              class="card-link"
              href="https://coursera.org/share/1f3e17f166340374e5d2f5bc2e7bd198"
            >
              AI For Everyone
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-6 col-sm-12 col-12">
      <div class="card cert-card">
        <div class="card-body">
          <div class="card-cert-img"><i
              class="fa fa-code-fork"
              aria-hidden="true"
            ></i></div>
          <div class="card-title">
            <a
              class="card-link"
              href="https://coursera.org/share/6ee8b213617b70cac14e18f00081c93a"
            >
              Git + GitHub for Open Source Collaboration
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Skills -->
<div class="row">
  <div class="col-md-6">
    <h3 class="title">Soft Skills</h3>
    <div class="sub-heading">Project Management</div>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 90%;"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
    <div class="sub-heading">Research</div>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 95%;"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
    <div class="sub-heading">Multitasking</div>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 85%;"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
    <div class="sub-heading">Communication Skills</div>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 80%;"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </div>
  <div class="col-md-6">
    <h3 class="title">Technical Skills</h3>
    <div class="sub-heading">Python, C, JavaScript, Dart</div>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 80%"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
    <div class="sub-heading">HTML5, CSS, SQL, MongoDB</div>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 90%"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
    <div class="sub-heading">Git, Jupyter Notebook</div>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 70%"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
    <div class="sub-heading">SolidWorks, FDM 3D Printing</div>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 70%"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </div>
</div>