<div class="container">
    <h2 class="heading"><i class="fas fa-brain"></i> <strong>Projects</strong></h2>
    <div class="underline" style="width: 60px;"></div>
    <div class="underline-span" style="width: 120px;"></div>
    <div class="Projects" style="margin-top: 50px;">
        <div class="row">
            <div class="col col-md-6 col-sm-12 col-12">
                <div class="card cert-card">
                    <div class="card-body">
                        <div class="card-cert-img"><i class="fas fa-cat"></i></div>
                        {{!-- <div class="card-title"> --}}
                            <a class="card-link" href="PSybeR-Cat">
                                PSybeR Cat
                            </a>
                        {{!-- </div> --}}
                    </div>
                </div>
            </div>
            <div class="col col-md-6 col-sm-12 col-12">
                <div class="card cert-card">
                    <div class="card-body">
                        <div class="card-cert-img"><i class="fas fa-spider"></i></div>
                        <div class="card-title">
                            <a class="card-link" href="Spider">
                                Spider Robot
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-6 col-sm-12 col-12">
                <div class="card cert-card">
                    <div class="card-body">
                        <div class="card-cert-img"><i class="fa fa-flag-checkered" aria-hidden="true"></i></div>
                        <div class="card-title">
                            <a class="card-link" href="Formula-Student-Car">
                                Formula Student Race Car
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-6 col-sm-12 col-12">
                <div class="card cert-card">
                    <div class="card-body">
                        <div class="card-cert-img"><i class="fa fa-music" aria-hidden="true"></i></div>
                        <div class="card-title">
                            <a class="card-link" href="Audio-Visualizer">
                                Audio Visualiser
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-6 col-sm-12 col-12">
                <div class="card cert-card">
                    <div class="card-body">
                        <div class="card-cert-img"><i class="fas fa-grin-alt"></i></div>
                        <div class="card-title">
                            <a class="card-link" href="Face-Detection">
                                Face Detection
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>