<h1 style="text-align: center; color:#fff">SPIDER ROBOT</h1>
<div class="banner spider">
    <img 
    src="https://by3302files.storage.live.com/y4mq6LgxN0FT71s9KZdMQAGizk7uLEc0gFVDO_KneWG7txAV7GQGAB0wKG-Iav0SivV7_15fM6C-dyT44QLhsTaOa_OofxsvhL0vJ72FvxFJiXrZ8uJsRW-fGCMf43A1bm--BV9aygOkknDKk4C_5QiLfLjOpeGe2Z_IrRlHZxRcZ8cp_nZ2seDOgWgM1c7bXUa?width=256&height=171&cropmode=none"
    data-src="https://by3302files.storage.live.com/y4m329IBD_baQyPBI7x8YIj74KudaMOCuHl8CT4IKZvCRzv5ALDC8dJXZYW1ymilqCXcranziteWS-voNEzuhgD-8sGW7pPJTNw5Yo9wTpJLH8pA4ZvNJj7FJJ2nsz2xJPhbqk1pNJDLRUAaRCPRDD52lckJZjHcjBCiM3uFqnrt-F1xT8KEcBl0Jn95KRn3fEC?width=1024&height=683&cropmode=none">
</div>

{{!-- Q-Learning --}}

<div style="color: #999;text-align:justify">
    <div style="margin: 100px;"></div>

    <h4 style="color: #fff;"><i class="fa fa-star" aria-hidden="true"></i>&nbsp Implemented obstacle avoidance using
        Q-Learning
    </h4>
    <div class="youtube">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/sjUDnQ8Jaw8" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>

    <hr style="border: 1px solid #777;">
    <div class="youtube-Description" style="margin-top: 20px;color: #999;">
        <p style="text-align: center; margin-top: 10px;">Here I have implemented obstacle avoiding functionality using
            Reinforcement
            Learning.</p>
        <hr style="border: 1px solid #777;">
    </div>

    <div style="margin: 100px;"></div>

    {{!-- TV Controller --}}

    <h4 style="color: #fff;"><i class="fa fa-star" aria-hidden="true"></i>&nbsp Controlling Spider Robot using a TV
        Remote
    </h4>
    <div class="youtube">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/eS7_9bXXvbY" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>

    <hr style="border: 1px solid #777;">
    <div class="youtube-Description" style="margin-top: 20px;color: #999;">
        <p style="text-align: center; margin-top: 10px;">Here the Spider Robot is controlled using a TV remote. When
            the
            user presses a button, then an IR signal is sent to the robot's IR receiver. The signal is then converted to
            a
            hexadecimal code by the receiver itself. The arduino then reads those signal and performs the action with
            respect to the given instruction.</p>
        <hr style="border: 1px solid #777;">
    </div>

    <div class="card card-note text-white bg-success mb-3" style="max-width: 100%;">
        <div class="card-header">Note</div>
        <div class="card-body">
            {{!-- <h5 class="card-title">Success card title</h5> --}}
            <p class="card-text" style="padding: 10px;">I built this mini project in early 2019</p>
        </div>
    </div>

    <div class="futureScope" style="margin-top: 50px;">
        <h4 style="color: #fff;">Future Scope</h4>
        <p style="margin-top: 10px;">
        <ul>
            <li>The AI can be improved by using more advance systems like:
                Deep Reinforcement Learning.</li>
            <li>The functionality and application of this project can further
                be improved by attaching new sensors</li>
        </ul>
        </p>
    </div>
</div>